cat <<EOF > .gitignore
# Node
node_modules/
npm-debug.log
.DS_Store

# Wasp
.wasp/out/
app/.wasp/out/
.wasp/build/
wasp-lock.yaml

# Prisma
prisma/dev.db
prisma/migrations/

# IDEs
.vscode/
.idea/
EOF
